

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a9fef3;
}
.header {
    color: rgb(194, 246, 249);
    background: rgb(3, 8, 11);
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    padding-left: 30px;
}
.footer {
    color: rgb(75, 185, 204);
    font-size: 14px;
    font-style: italic;
    background-color: rgb(22, 14, 41);
    text-align: right;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.step {
    width: 200px;
    height: 100px;
    border: 1px solid;
    position: absolute;
    top: 300px;
    left: 30px;
}

.stix p:nth-child(1) {
    color: red;
    }
    .stix p:nth-child(2) {
    color: green;
    }
    .stix p:nth-child(3) {
    color: orange;
    }
    .stix p:nth-child(4) {
    color: rgb(107, 0, 128);
    }
    .stix p:nth-child(5) {
    color: rgb(251, 0, 255);
    }
    .stix p:nth-child(6) {
        color: rgb(13, 0, 255);
        }
    
    